<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Birthday - Homepage</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/home.css">
  </head>

  <body>
    <div>
      <h1><span>Hello there!</span></h1>
      <br>
      <h2>What is your name?</h2>
      <form method="post" action="/birthday">
        <input type="text" name="fname" required><br>
        <h2>Please enter the date of your NEXT birthday</h2>
        <input type="date" name="bdate" required><br><br>
        <input type="submit" value="Submit" class="btn btn-info"><br>
        <br>
      </form>
    </div>
  </body>
</html>
