<style>
h1 {
  background-color: pink;
  text-align: center;
}

div {
    background-color: lightblue;
    text-align: center;
}
</style>

<h1>Hello there!</h1>
<br>
<div>
<h2>What's your name?</h2>
<form>
  <input background-color="red" type="text" name="fname" placeholder="Type your first name">
</form>
</div>

<div>
  <h2>When's your birthday?</h2>
  <input type="date" name="bdate">
</div>
