<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Not Birthday</title>
    <link rel="stylesheet" href="/not_birthday.css">
  </head>
  <body>
    <h1>Hello <%= @birthday.name %>, you have <%= @birthday.days_to_birthday %> day<%= @birthday.multiple_days %> until your birthday</h1>
  </body>
</html>
