<style>
span {
  background-color: pink;
  padding: 5px 50px 5px 50px;
}

div {
  background-color: lightblue;
  text-align: center;
}

body {
  background-color: lightblue;
  font-family:monospace;
}
</style>
